<template name="reportsMilkingMonthly">
    <div class="graph-panel">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="yearSelect">Yıl : </label>
                        <select id="yearSelect" class="form-control" style="width: 200px">
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <button type="button" class="btn btn-primary pull-right excel-btn">Excele Aktar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="milkingMonthlyGraph"></div>
            </div>
        </div>
    </div>
</template>