<template name="reportsMilkingTimed">
    <div class="graph-panel">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-daterange">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon wb-calendar" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="start"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"> - </span>
                        <input type="text" class="form-control" name="end"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <button type="button" class="btn btn-primary pull-right excel-btn">Excele Aktar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div id="milkingTimedGraph"></div>
            </div>

            <div class="col-lg-3">
                {{#with milkingData}}
                    <table class="table table-bordered definition-table margin-top-20">
                        <tbody>
                        <tr>
                            <td>Sağılan Gün</td>
                            <td>{{days}}</td>
                        </tr>

                        <tr>
                            <td>Sağılan Toplam</td>
                            <td>{{total}}</td>
                        </tr>

                        <tr>
                            <td>Günlük Ortalama</td>
                            <td>{{dailyMilked}}</td>
                        </tr>

                        <tr>
                            <td>Aylık Ortalama</td>
                            <td>{{monthlyMilked}}</td>
                        </tr>

                        <tr>
                            <td>Yıllık Ortalama</td>
                            <td>{{yearlyMilked}}</td>
                        </tr>
                        </tbody>
                    </table>
                {{/with}}
            </div>
        </div>

    </div>
</template>