<template name="usersCreatePage">
    {{# content actions="save,cancel"}}

        {{#form schema=schema id='createUserForm' type='method' meteormethod='system.users.create'}}
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detaylar</h3>
                        </div>

                        <div class="panel-body">

                            {{> field name='fullName'}}
                            {{> field name='username'}}
                            {{> field name='email'}}

                            <div class="row">
                                <div class="col-sm-6">
                                    {{> field name='password' type='password'}}
                                </div>
                                <div class="col-sm-6">
                                    {{> field name='confirmation' type='password'}}
                                </div>
                            </div>

                            {{> field name='identity'}}
                            {{> field name='phone'}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">İzinler</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                {{#each groups}}
                                    <div class="col-sm-4 margin-bottom-20">
                                        <h4 class="primary-800">{{name}}</h4>

                                        <ul class="list-unstyled">
                                            {{#each permissions name}}
                                                <li>
                                                    <div class="checkbox-custom checkbox-primary">
                                                        <input type="checkbox" class="permission-input" name="permissions[]" id="{{name}}" value="{{name}}">
                                                        <label for="{{name}}">{{label}}</label>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/form}}

    {{/content}}
</template>