<template name="usersProfilePage">
    {{# content actions="save,cancel"}}
        {{#form schema=schema doc=this id='usersProfileForm' type='method-update' meteormethod='system.users.update'}}
            <div class="row">
                <div class="col-lg-5">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hesap Ayarları</h3>
                        </div>

                        <div class="panel-body">
                            {{> field name='fullName'}}
                            {{> field name='username'}}
                            {{> field name='email'}}

                            <div class="row">
                                <div class="col-sm-6">
                                    {{> field name='password' type='password'}}
                                </div>
                                <div class="col-sm-6">
                                    {{> field name='confirmation' type='password'}}
                                </div>
                            </div>

                            {{> field name='identity'}}
                            {{> field name='phone'}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Kayıtlar</h3>
                        </div>

                        <div class="panel-body">
                            <div>
                                {{> tabular table=table selector=selector}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/form}}
    {{/content}}
</template>