<template name="usersUpdatePage">

    {{# content actions='save,cancel'}}
        <div class="panel">
            <div class="panel-body">
                <div class="nav-tabs-vertical">
                    <ul class="nav nav-tabs margin-right-25">
                        <li class="{{#if isActive 'settings'}}active{{/if}}">
                            <a href="/system/users/update/{{_id}}/settings">Hesap Ayarları</a>
                        </li>
                        <li class="{{#if isActive 'logs'}}active{{/if}}">
                            <a href="/system/users/update/{{_id}}/logs">Kullanıcı Günlükleri</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active">{{> Template.dynamic template=template}}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}

</template>