<template name="usersPage">
    {{# content actions='create,update,delete'}}

        <div class="panel">
            <div class="panel-body">
                {{> tabular table=table deleteAction=deleteAction}}
            </div>
        </div>

    {{/content}}
</template>