<template name="cowsUpdateLactationMEFilters">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-inline">
                <div class="form-group">
                    <label for="lactationMESelect">Laktasyon : </label>
                    <select id="lactationMESelect" class="form-control" style="width: 200px">
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <button type="button" class="btn btn-primary pull-right excel-btn">Excele Aktar</button>
        </div>
    </div>
</template>