<template name="panelMenubarFooter">

    <div class="site-menubar-footer">
        <a href="/system/users/{{userId}}/profile" class="user-profile" data-placement="top" data-toggle="tooltip"
           data-original-title="Kullanıcı Profili">
            <span class="icon wb-user" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" class="lock-screen" data-placement="top" data-toggle="tooltip" data-original-title="Ekranı Kilitle">
            <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" class="logout" data-placement="top" data-toggle="tooltip" data-original-title="Çıkış">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>

</template>