<template name="panelMenubarMenu">

    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">

                    {{# each sections }}
                        <li class="site-menu-category">{{title}}</li>

                        {{# each items }}
                            <li class="site-menu-item {{# if hasChild}}has-sub{{/if}} {{# if isActive}}active{{/if}}">
                                {{# if hasChild}}
                                    <a href="#" data-slug="{{name}}">
                                        <i class="site-menu-icon {{icon}}" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{title}}</span>
                                    </a>

                                    <ul class="site-menu-sub">
                                        {{# each subItems}}
                                            <li class="site-menu-item {{# if isActive}}active{{/if}}">
                                                <a href="{{pathFor route=name}}" data-slug="{{name}}">
                                                    <i class="site-menu-icon" aria-hidden="true"></i>
                                                    <span class="site-menu-title">{{title}}</span>
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{else}}
                                    <a href="{{pathFor route=name}}" data-slug="{{name}}">
                                        <i class="site-menu-icon {{icon}}" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{title}}</span>
                                    </a>
                                {{/if}}
                            </li>
                        {{/each}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</template>