body {
  font-weight: 400;
}

.navbar-brand {
  padding: 0;
  width: 100%;
  text-align: center;

  .navbar-brand-logo {
    margin-top: 8px;
    height: 50px;
  }
}

.site-menu {
  font-weight: 600;
}

.site-menu-item a {
  color: rgba(163, 175, 183, 1);
}

.site-menu > .site-menu-item.active {
  border-top: none;
  border-bottom: none;
}

.page-login {
  .form-group {
    label {
      display: none;
    }

    .checkbox-custom {
      margin-top: 0;
      margin-bottom: 0;

      label {
        display: inline-block;
      }
    }

    .help-block {
      text-align: left !important;
    }
  }
}

.table.dataTable {
  tbody {
    tr {
      &.selected {
        background-color: #FFFAE7;
      }
    }
  }
}

.checkbox-custom input[type="checkbox"]:focus + label::before,
.checkbox-custom input[type="radio"]:focus + label::before {
  outline: none;
}

.definition-table {
  tr > td:first-child {
    font-weight: bold;
    background-color: #f3f7f9;
    width: 180px;
  }

  tr:first-child > td {
    border-top: none;
  }
}

.bootbox-close-button.close {
  &:focus {
    outline: none;
    background-color: #fff;
  }
}

.table tbody tr.selected {
  background-color: #FFFAE7;
}

.select2-container--default {
  z-index: 10000;
}

.well-body {
  margin-top: 45px;
}

.page-system-notifications {
  .page-aside {
    .list-group-item:not(.active) {
      cursor: pointer;
    }
  }
}

#widgetWeather {
  border: none;
}
#widgetWeather .weather-times {
  border-top: 1px solid #e4eaec;
}
#widgetWeather .weather-list {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
#widgetWeather .weather-list li {
  padding-left: 30px;
  padding-right: 30px;
}
#widgetWeather .weather-list li [class*="col-"] {
  line-height: 34px;
  text-align: center;
}
#widgetWeather .weather-list li + li {
  margin-top: 25px;
}

.sweet-alert {
  z-index: 5000;
}