<template name="cowsPage">
    {{# content actions='create,update'}}

        <div class="panel">
            <div class="panel-body">
                {{> tabular table=table}}
            </div>
        </div>

    {{/content}}
</template>