<template name="cowsCreatePage">
    {{# content actions='save,cancel'}}
        {{#form collection="Cows" id="createCowsForm" type="insert"}}
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Genel Bilgiler</h3>
                        </div>

                        <div class="panel-body">
                            {{> field name='identity'}}
                            {{> field name='rfid'}}
                            {{> field name='name'}}
                            {{> field name='groupId' options=groups firstOption=''}}
                            {{> field name='motherIdentity'}}
                            {{> field name='motherName'}}
                            {{> field name='fatherIdentity'}}
                            {{> field name='fatherName'}}
                            {{> field name='note' rows=4}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Doğum Bilgileri</h3>
                        </div>

                        <div class="panel-body">
                            {{> field name='birthPlace'}}
                            {{> field name='birthDate'}}
                            {{> field name='birthType' options='allowed' firstOption=''}}
                            {{> field name='birthWeight'}}
                            {{> field name='midwife'}}
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detay Bilgiler</h3>
                        </div>

                        <div class="panel-body">
                            {{> field name='joinReason' options='allowed' firstOption=''}}
                            {{> field name='joinDate'}}
                        </div>
                    </div>
                </div>
            </div>
        {{/form}}
    {{/content}}
</template>