<template name="cowStatus">
    {{#if checkStatus 'Boş'}}
        <span class="label label-dark">Boş</span>
    {{/if}}

    {{#if checkStatus 'Gebe'}}
        <span class="label label-success">Gebe</span>
    {{/if}}

    {{#if checkStatus 'Hasta'}}
        <span class="label label-danger">Hasta</span>
    {{/if}}

    {{#if checkStatus 'Fresh'}}
        <span class="label label-info">Fresh</span>
    {{/if}}

    {{#if checkStatus 'Senkonize'}}
        <span class="label label-primary">Senkonize</span>
    {{/if}}

    {{#if checkStatus 'Kuruda'}}
        <span class="label label-dark bg-light-green-600">Kuruda</span>
    {{/if}}

    {{#if checkStatus 'Kasaplık'}}
        <span class="label label-dark bg-brown-600">Kasaplık</span>
    {{/if}}
</template>