<template name="cowsUpdatePage">
    {{# content}}
        <div class="panel">
            <div class="panel-body">
                <div class="nav-tabs-vertical">
                    <ul class="nav nav-tabs margin-right-25">
                        <li class="{{#if isActive 'profile'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/profile">İnek Profili</a>
                        </li>

                        <li class="{{#if isActive 'stepAnalysis'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/stepAnalysis">Adım Analizi</a>
                        </li>

                        <li class="{{#if isActive 'timedME'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/timedME">Zamansal Süt Verimi</a>
                        </li>

                        <li class="{{#if isActive 'lactationME'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/lactationME">Laktasyon Süt Verimi</a>
                        </li>

                        <li class="{{#if isActive 'fertility'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/fertility">Döl Verimi</a>
                        </li>

                        <li class="{{#if isActive 'info'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/info">Bilgileri Güncelle</a>
                        </li>

                        <li class="{{#if isActive 'vaccinations'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/vaccinations">Aşılama Girdileri</a>
                        </li>

                        <li class="{{#if isActive 'insemination'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/insemination">Tohumlama Girdileri</a>
                        </li>

                        <li class="{{#if isActive 'illnesses'}}active{{/if}}">
                            <a href="/farming/livestock/cows/update/{{_id}}/illnesses">Hastalık / Tedavi Girdileri</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active">{{> Template.dynamic template=template}}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
</template>