<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">
        Kulladığınız tarayıcı <strong>gümcel deiğil</strong>. Lütfen, tarayıcınızı <a href="http://browsehappy.com/">güncelleyiniz</a>.
    </p>
    <![endif]-->
</body>