<head>
    <script>
        $('html').addClass('no-js before-run');
    </script>

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="/assets/js/media-match/media.match.min.js"></script>
    <script src="/assets/js/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Script -->
    <script>
        Breakpoints();
    </script>
</head>