<template name="loading">
    <div class="page">
        <div class="page-content">
            <div class="margin-top-30 margin-left-30">
                <div class="loader loader-grill" data-type="default" style="float: left"></div>
                <h4 style="float: left; margin-left: 30px">Yükleniyor...</h4>
            </div>
        </div>
    </div>
</template>