<template name="notificationsAside">
    <div class="page-aside">
        <div class="page-aside-inner">
            <div class="page-aside-section">
                <h5 class="page-aside-title">Etiketler</h5>

                <div class="list-group">
                    <div class="list-group-item {{#if isActive 'all'}}active{{/if}}" data-type="all">
                        <i class="item-right wb-large-point blue-grey-600" aria-hidden="true"></i>Hepsi
                    </div>
                    <div class="list-group-item {{#if isActive 'warning'}}active{{/if}}" data-type="warning">
                        <i class="item-right wb-large-point orange-600" aria-hidden="true"></i>Uyarılar
                    </div>
                    <div class="list-group-item {{#if isActive 'info'}}active{{/if}}" data-type="info">
                        <i class="item-right wb-large-point blue-600" aria-hidden="true"></i>Bilgilendirmeler
                    </div>
                    <div class="list-group-item {{#if isActive 'error'}}active{{/if}}" data-type="error">
                        <i class="item-right wb-large-point red-600" aria-hidden="true"></i>Hatalar
                    </div>
                    <div class="list-group-item {{#if isActive 'system'}}active{{/if}}" data-type="system">
                        <i class="item-right wb-large-point green-600" aria-hidden="true"></i>Sistem
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>