<template name="notificationsContent">
    <div class="page-content page-content-table">
        <div data-role="container">
            <div data-role="content">
                <table class="table">
                    <tbody>
                    {{#each notifications}}
                        <tr data-id="{{_id}}" data-toggle="slidePanel">
                            <td class="cell-80 responsive-hide" style="padding-top: 28px;">
                                <i class="icon {{typeIcon}} white icon-circle" aria-hidden="true"></i>
                            </td>

                            <td>
                                <div class="content">
                                    <div class="title" style="font-weight: bold; margin-bottom: 5px">{{title}}</div>
                                    <div class="abstract">{{abstract content}}</div>
                                </div>
                            </td>

                            <td class="cell-60">
                                {{#if isSeen}}
                                    <div class="text-center padding-top-5">
                                        <i class="wb-check green-600 font-size-20"></i>
                                    </div>
                                {{/if}}
                            </td>

                            <td class="cell-130">
                                <div class="time">{{timeAgo}}</div>
                                <div class="identity">
                                    <i class="wb-medium-point {{typeColor}}" aria-hidden="true"></i> {{typeLabel}}
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                {{#if moreResults}}
                    <div id="showMoreResults" class="text-center height-150 padding-top-15">
                        <div class="loader vertical-align-middle loader-tadpole" data-type="default"></div>
                        <div class="text-center font-size-16 margin-top-25">Yükleniyor...</div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>