<template name="notificationsDetail">
    <header class="slidePanel-header {{typeBgColor}}">
        <div class="slidePanel-actions" aria-label="actions" role="group">
            <button type="button" class="btn btn-icon btn-pure btn-inverse slidePanel-close actions-top icon wb-close"
                    aria-hidden="true"></button>
        </div>

        <h1>{{title}}</h1>
    </header>

    <div class="slidePanel-inner">
        <section class="slidePanel-inner-section">
            <div class="mail-header padding-left-0">
                <div class="mail-header-main">
                    <div style="float: left">
                        <i class="icon {{typeIcon}} white icon-circle" aria-hidden="true"></i>
                    </div>
                    <div style="float: left; margin-top: 3px; margin-left: 10px;"><span class="identity"><i class="wb-medium-point {{typeColor}}" aria-hidden="true"></i> {{typeLabel}}</span></div>
                </div>
                <div class="mail-header-right">
                    <span class="time">{{timeAgo}}</span>
                </div>
            </div>
            <div class="mail-content">
                {{{content}}}
            </div>
        </section>
    </div>
</template>