<template name="notificationsPage">
    <div class="page bg-white">
        {{> notificationsAside}}

        <div class="page-main app-mailbox">
            {{> notificationsHeader}}

            {{> notificationsContent}}
        </div>
    </div>
</template>