<template name="usersUpdateSettings">
    {{#form schema=schema doc=this id='updateUserForm' type='method-update' meteormethod='system.users.update'}}
        <div class="row">
            <div class="col-sm-5">
                <h4>Detaylar</h4>
                <hr class="margin-top-0">

                {{> field name='fullName'}}
                {{> field name='username'}}
                {{> field name='email'}}

                <div class="row">
                    <div class="col-sm-6">
                        {{> field name='password' type='password'}}
                    </div>
                    <div class="col-sm-6">
                        {{> field name='confirmation' type='password'}}
                    </div>
                </div>

                {{> field name='identity'}}
                {{> field name='phone'}}
            </div>

            <div class="col-sm-7">
                <h4>İzinler</h4>
                <hr class="margin-top-0">

                <ul class="blocks blocks-100 blocks-lg-3">
                    {{#each groups}}
                        <li class="permission-box">
                            <h4 class="primary-800">{{name}}</h4>

                            <ul class="list-unstyled">
                                {{#each permissions name}}
                                    <li>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" class="permission-input" name="permissions[]"
                                                   id="{{name}}" value="{{name}}">
                                            <label for="{{name}}">{{label}}</label>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>

            </div>
        </div>
    {{/form}}
</template>