<template name="tabularCheckboxCell">
    <div class="checkbox-custom checkbox-primary">
        <input type="checkbox" id="checkboxChell_{{_id}}">
        <label for="checkboxChell_{{_id}}"></label>
    </div>
</template>