<template name="lockedPage">

    <div class="page vertical-align text-center">
        <div class="page-content vertical-align-middle">
            <div class="brand">
                <img class="brand-img" src="/assets/images/logo.png" alt="HTS">
                <h2 class="brand-text">HTS</h2>
            </div>

            {{#form schema=lockedSchema id='lockedForm'}}
                <div class="input-group">
                    {{> afFieldInput name='password' type='password' placeholder='Şifrenizi giriniz'}}

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon wb-unlock" aria-hidden="true"></i>
                            <span class="sr-only">unLock</span>
                        </button>
                    </span>
                </div>
            {{/form}}

            <p>Kilitli hesabınıza geri dönüş yapmak için şifrenizi giriniz.</p>
            <p><a href="{{pathFor 'login'}}">Yada başka bir hesapla oturum açın.</a></p>

            <footer class="page-copyright">
                <p>Developed by <a href="http://kodpage.com" target="_blank">Kodpage</a></p>
                <p>© 2015 Sütkar, All rights reserved.</p>
                <div class="social">
                    <a href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>

</template>