<template name="loginPage">

    <div class="page vertical-align text-center">
        <div class="page-content vertical-align-middle">
            <div class="brand">
                <img class="brand-img" src="/assets/images/logo.png" alt="HTS" style="height: 80px; width: auto;">
            </div>

            <p>SYS Hesabınıza giriş yapın</p>

            {{#form schema=loginSchema id='loginForm'}}
                {{> field name='username' placeholder='Kullanıcı Adı'}}
                {{> field name='password' type='password' placeholder='Şifre'}}
                <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
            {{/form}}

            <footer class="page-copyright">
                <p>Developed by <a href="http://kodpage.com" target="_blank">Kodpage</a></p>
                <p>© 2015 Sütkar, All rights reserved.</p>
                <div class="social">
                    <a href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>

</template>