<template name="groupsPage">
    {{# content}}

        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-actions" style="margin-top: -10px;">
                                    {{#if isShown 'create'}}
                                        <button class="btn btn-primary btn-xs add-group"><i class="icon wb-plus"></i> Ekle</button>
                                    {{/if}}

                                    {{#if isShown 'update'}}
                                        <button class="btn btn-warning btn-xs update-group"><i class="icon wb-pencil"></i> Düzenle</button>
                                    {{/if}}

                                    {{#if isShown 'delete'}}
                                        <button class="btn btn-danger btn-xs delete-group"><i class="icon wb-trash"></i> Sil</button>
                                    {{/if}}
                                </div>
                                <h3 class="panel-title padding-top-0 padding-left-0">Gruplar</h3>
                            </div>
                            <div class="panel-body padding-left-0">
                                <ul class="list-group list-group-bordered">
                                    {{#each groups}}
                                        <li data-id="{{_id}}" class="list-group-item" style="cursor: pointer">
                                            {{#if count _id}}
                                                <span class="badge badge-success" style="display: block">{{count _id}}</span>
                                            {{else}}
                                                <span class="badge badge-success" style="display: block">0</span>
                                            {{/if}}
                                            <span class="item-name">{{name}}</span>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        {{#if table}}
                            <h4>Grup Hayvanları</h4>
                            <hr class="margin-top-0">

                            {{> tabular table=table selector=selector}}
                        {{else}}
                            <div class="alert alert-alt alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                Lütfen bir group seçiniz.
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    {{/content}}
</template>