<template name="afCheckbox_custom_bootstrap3">
    <div class="checkbox-custom checkbox-primary">
        <input type="checkbox" value="true" {{atts}}>
        <label for="{{atts.id}}">{{afFieldLabelText name=this.name}}</label>
    </div>
</template>