.page-login {
    color: #ffffff;
}

.page-login:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/login.jpg");
    background-position-y: top;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.page-login:after {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(38, 50, 56, 0.85);
    z-index: -1;
}

.page-login .brand {
    margin-bottom: 28px;
}

.page-login .brand-text {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}

.page-login form {
    width: 340px;
    margin: 30px 0;
}

.page-login form a {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.page-login .page-copyright {
    color: #ffffff;
}

.page-login .page-copyright .social .icon,
.page-login .page-copyright .social .icon:hover,
.page-login .page-copyright .social .icon:active {
    color: #ffffff;
}

@media (max-width: 480px) {
    .page-login form {
        width: auto;
    }
}
