/*mailbox custom*/
.app-mailbox .identity {
  white-space: nowrap;
}
.app-mailbox .page-content-actions .btn-group {
  margin-left: 8px;
}
.app-mailbox .checkbox-important {
  margin-bottom: 4px;
  padding: 9px 0 0 24px;
  position: relative;
}
.app-mailbox .checkbox-important input[type='checkbox'] {
  cursor: pointer;
  left: 3px;
  margin: -2px 0 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.app-mailbox .checkbox-important input[type='checkbox']:checked + label:before {
  background-color: transparent;
  color: #f2a654;
}
.app-mailbox .checkbox-important label {
  cursor: pointer;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left;
  font-weight: normal;
}
.app-mailbox .checkbox-important label:before {
  color: #e4eaec;
  content: "\f1a3";
  display: inline-block;
  font-family: "Web Icons";
  font-size: 16px;
  height: 16px;
  left: 4px;
  line-height: 1;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 16px;
  font-weight: bold;
}
.app-mailbox .table {
  table-layout: fixed;
}
.app-mailbox .table .avatar {
  margin-left: 10px;
}
.app-mailbox .table .content > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-mailbox .table .title {
  color: #526069;
}
.app-mailbox .table .time {
  color: #a3afb7;
}
.app-mailbox .table .identity .icon {
  margin-right: 8px;
}
.app-mailbox .table .unread > td:first-child {
  border-left: 1px solid #62a8ea;
}
.app-mailbox .slidePanel-header:before,
.app-mailbox .slidePanel-header:after {
  content: " ";
  display: table;
}
.app-mailbox .slidePanel-header:after {
  clear: both;
}
.app-mailbox .slidePanel .actions-top {
  position: absolute;
  top: 30px;
  right: 20px;
}
.app-mailbox .slidePanel .actions-bottom {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.app-mailbox .slidePanel .mail-header {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}
.app-mailbox .slidePanel .mail-header:before,
.app-mailbox .slidePanel .mail-header:after {
  content: " ";
  display: table;
}
.app-mailbox .slidePanel .mail-header:after {
  clear: both;
}
.app-mailbox .slidePanel .mail-header-main {
  display: inline-block;
}
.app-mailbox .slidePanel .mail-header-right {
  float: right;
}
.app-mailbox .slidePanel .mail-header .time {
  color: #a3afb7;
}
.app-mailbox .slidePanel .mail-header .avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.app-mailbox .slidePanel .mail-header .identity .icon {
  margin-left: 10px;
  margin-right: 6px;
}
.app-mailbox .slidePanel .mail-content p {
  margin-bottom: 20px;
}
.app-mailbox .slidePanel .mail-content p:last-child {
  margin-bottom: 0;
}
.app-mailbox .slidePanel .mail-content + .mail-attachments {
  margin-top: 40px;
}
.app-mailbox .slidePanel .mail-attachments {
  margin-bottom: 20px;
}
.app-mailbox .slidePanel .mail-attachments .wb-paperclip {
  margin-right: 10px;
}
.app-mailbox .slidePanel .mail-attachments .list-group-item {
  padding: 0;
}
.app-mailbox .select2-container {
  z-index: 1700;
}
@media (max-width: 767px) {
  .app-mailbox .responsive-hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .app-mailbox .page-header .page-header-actions {
    margin-top: 20px;
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
  .app-mailbox .page-content-actions .actions-right {
    float: none;
    display: block;
  }
}
