<template name="cowsUpdateTimedMEDetails">
    {{#with milkingData}}
        <table class="table table-bordered definition-table margin-top-20">
            <tbody>
            <tr>
                <td>Sağılan Gün</td>
                <td>{{days}}</td>
            </tr>

            <tr>
                <td>Sağılan Toplam</td>
                <td>{{total}}</td>
            </tr>

            <tr>
                <td>Günlük Ortalama</td>
                <td>{{dailyMilked}}</td>
            </tr>

            <tr>
                <td>Aylık Ortalama</td>
                <td>{{monthlyMilked}}</td>
            </tr>

            <tr>
                <td>Yıllık Ortalama</td>
                <td>{{yearlyMilked}}</td>
            </tr>
            </tbody>
        </table>
    {{/with}}
</template>