<template name="cowsUpdateTimedMEFilters">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-daterange">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon wb-calendar" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="start"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"> - </span>
                    <input type="text" class="form-control" name="end"/>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <button type="button" class="btn btn-primary pull-right excel-btn">Excele Aktar</button>
        </div>
    </div>
</template>