<template name="spermsCreate">
    {{#form collection="Sperms" id="createSpermsForm" type="insert"}}
        {{> field name='name'}}
        {{> field name='identity'}}
        {{> field name='quantity'}}
        {{> field name='acquisitionDate'}}
        {{> field name='firm'}}

        <button type="submit" class="btn btn-primary btn-block">Spermi Ekle</button>
    {{/form}}
</template>