<template name="spermsPage">
    {{# content actions='create,update,delete'}}

        <div class="panel">
            <div class="panel-body">
                {{> tabular table=table createAction=createAction updateAction=updateAction deleteAction=deleteAction}}
            </div>
        </div>

    {{/content}}
</template>