<template name="spermsUpdate">
    {{#form collection="Sperms" id="updateSpermsForm" doc=this type="update"}}
        {{> field name='name'}}
        {{> field name='identity'}}
        {{> field name='quantity'}}
        {{> field name='acquisitionDate'}}
        {{> field name='firm'}}

        <button type="submit" class="btn btn-primary btn-block">Spermi Güncelle</button>
    {{/form}}
</template>