@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto-300/Roboto-300.eot');
    src: url('../fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
    local('Roboto Light'),
    local('Roboto-300'),
    url('../fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
    url('../fonts/Roboto-300/Roboto-300.woff') format('woff'),
    url('../fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
    url('../fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Roboto-regular/Roboto-regular.eot');
    src: url('../fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
    local('Roboto'),
    local('Roboto-regular'),
    url('../fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
    url('../fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
    url('../fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
    url('../fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Roboto-500/Roboto-500.eot');
    src: url('../fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
    local('Roboto Medium'),
    local('Roboto-500'),
    url('../fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
    url('../fonts/Roboto-500/Roboto-500.woff') format('woff'),
    url('../fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
    url('../fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Roboto-300italic/Roboto-300italic.eot');
    src: url('../fonts/Roboto-300italic/Roboto-300italic.eot?#iefix') format('embedded-opentype'),
    local('Roboto Light Italic'),
    local('Roboto-300italic'),
    url('../fonts/Roboto-300italic/Roboto-300italic.woff2') format('woff2'),
    url('../fonts/Roboto-300italic/Roboto-300italic.woff') format('woff'),
    url('../fonts/Roboto-300italic/Roboto-300italic.ttf') format('truetype'),
    url('../fonts/Roboto-300italic/Roboto-300italic.svg#Roboto') format('svg');
}

