<template name="settingsPage">
    {{#content actions='save,cancel'}}
        <div class="panel">
            <div class="panel-body">
            {{#form schema=schema id='updateSettingsForm' doc=doc type='method-update' meteormethod='system.settings.update'}}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well">
                            <h4 class="primary-800">Çiftlik Ayarları</h4>
                            <hr class="margin-top-0">

                            {{> field name='farming.normalHourlyStepCount'}}
                            {{> field name='farming.abnormalHourlyStepCount'}}
                            {{> field name='farming.prepareDriedDay'}}
                            {{> field name='farming.makeDriedDay'}}
                            {{> field name='farming.takeToDeliveryRoom'}}
                            {{> field name='farming.pregnancyDuration'}}
                            {{> field name='farming.minHeiferInseminationAge'}}
                            {{> field name='farming.firstInseminationAfterDelivery'}}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <h4 class="primary-800">Sistem Ayarları</h4>
                            <hr class="margin-top-0">

                            <p>Sistem ayarı mevcut değil.</p>
                        </div>
                    </div>
                </div>
            {{/form}}
            </div>
        </div>
    {{/content}}
</template>