<template name="reportsHeatsPage">
    {{#content}}

        <div class="panel">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tahmini Durum</th>
                        <th>Kimlik</th>
                        <th>RFID</th>
                        <th>Bugün A. S.</th>
                        <th>Dün A. S.</th>
                        <th>Bugün S. V.</th>
                        <th>Dün S. V.</th>
                        <th>A. S. Artışı</th>
                        <th>S. V. Azalışı</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each cows}}
                        <tr>
                            <td>{{{estimation}}}</td>
                            <td>{{identity}}</td>
                            <td>{{rfid}}</td>
                            <td>{{todayCount}}</td>
                            <td>{{yesterdayCount}}</td>
                            <td>{{formattedAmount}}</td>
                            <td>{{formattedYesterdayAmount}}</td>
                            <td>{{calculatedCount}}</td>
                            <td>{{calculatedAmount}}</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="9">
                                <h2 class="blue-grey-500 text-center margin-top-20 margin-bottom-30">Veri
                                    bulunamadı!</h2>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    {{/content}}
</template>