<template name="reportsMilkingPage">
    {{#content}}

    <div class="nav-tabs-horizontal nav-tabs-inverse">
        <ul class="nav nav-tabs nav-tabs-solid">
            <li class="{{#if isActive 'timed'}}active{{/if}}">
                <a href="/farming/reports/milking/timed">Zaman Aralığı</a>
            </li>
            <li class="{{#if isActive 'monthly'}}active{{/if}}">
                <a href="/farming/reports/milking/monthly">Aylık</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active">{{> Template.dynamic template=template}}</div>
        </div>
    </div>

    {{/content}}
</template>