<template name="manuelDataCreate">
    {{#form collection="ManuelData" id="createManuelDataForm" type="insert"}}
        {{> field name='identity'}}
        {{> field name='date'}}
        {{> field name='amount'}}

        <button type="submit" class="btn btn-primary btn-block">Veriyi Ekle</button>
    {{/form}}
</template>