<template name="manuelDataUpdate">
    {{#form collection="ManuelData" id="updateManuelDataForm" doc=this type="update"}}
        {{> field name='identity'}}
        {{> field name='date'}}
        {{> field name='amount'}}

        <button type="submit" class="btn btn-primary btn-block">Veriyi Güncelle</button>
    {{/form}}
</template>