<template name="cowsUpdateProfileBirth">

    <div class="well" style="position: relative">
        <div class="ribbon ribbon-bookmark ribbon-warning">
            <span class="ribbon-inner">Doğum Bilgileri</span>
        </div>

        <div class="well-body">
            <table class="table definition-table">
                <tbody>
                <tr>
                    <td>Doğum Yeri</td>
                    <td>{{birthPlace}}</td>
                </tr>
                <tr>
                    <td>Doğum Tarihi</td>
                    <td>{{formattedDate birthDate}}</td>
                </tr>
                <tr>
                    <td>Doğum Türü</td>
                    <td>{{birthType}}</td>
                </tr>
                <tr>
                    <td>Doğum Ağırlığı</td>
                    <td>{{birthWeight}} Kg</td>
                </tr>
                <tr>
                    <td>Doğurtan</td>
                    <td>{{midwife}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>