<template name="cowsUpdateProfileChildren">

    {{#if children}}
        <div class="row">
            <div class="col-md-12">
                <div class="well" style="position: relative">
                    <div class="ribbon ribbon-bookmark">
                        <span class="ribbon-inner">Yavrular</span>
                    </div>

                    <div class="well-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 50px"></th>
                                <th>Cinsiyet</th>
                                <th>Kimlik</th>
                                <th>Doğum Tarihi</th>
                                <th>Yaş</th>
                                <th>Doğurtan</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each children}}
                                <tr>
                                    <td><strong>{{childOrder @index}}</strong></td>
                                    <td>{{sex}}</td>
                                    <td>{{identity}}</td>
                                    <td>{{formattedDate birthDate}}</td>
                                    <td>{{age}}</td>
                                    <td>{{midwife}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</template>