<template name="cowsUpdateProfileDetails">

    <div class="well" style="position: relative">
        <div class="ribbon ribbon-bookmark ribbon-danger">
            <span class="ribbon-inner">Detay Bilgiler</span>
        </div>

        <div class="well-body">
            <table class="table definition-table">
                <tbody>
                <tr>
                    <td>Anne Kimlik</td>
                    <td>{{motherIdentity}}</td>
                </tr>
                <tr>
                    <td>Anne Adı</td>
                    <td>{{motherName}}</td>
                </tr>
                <tr>
                    <td>Baba Kimlik</td>
                    <td>{{fatherIdentity}}</td>
                </tr>
                <tr>
                    <td>Baba Adı</td>
                    <td>{{fatherName}}</td>
                </tr>
                <tr>
                    <td>Sürüye Giriş Sebebi</td>
                    <td>{{joinReason}}</td>
                </tr>
                <tr>
                    <td>Sürüye Giriş Tarihi</td>
                    <td>{{formattedDate joinDate}}</td>
                </tr>
                <tr>
                    <td>Not</td>
                    <td>{{note}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>