<template name="cowsUpdateProfileMain">
    <div class="well" style="position: relative">
        <div class="ribbon ribbon-bookmark ribbon-primary">
            <span class="ribbon-inner">Genel Bilgiler</span>
        </div>

        <div class="well-body">
            <table class="table definition-table">
                <tbody>
                <tr>
                    <td>Güncel Durumu</td>
                    <td>{{> cowStatus}}</td>
                </tr>
                <tr>
                    <td>Kayıt No</td>
                    <td>{{registerNo}}</td>
                </tr>
                <tr>
                    <td>Kimlk</td>
                    <td>{{identity}}</td>
                </tr>
                <tr>
                    <td>RFID</td>
                    <td>{{rfid}}</td>
                </tr>
                <tr>
                    <td>Ad</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Yaş</td>
                    <td>{{age}} Gün</td>
                </tr>
                <tr>
                    <td>Grup</td>
                    <td>{{group}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>