<template name="cowsUpdateProfileRemove">
    {{#form schema=schema id='cowsUpdateProfileRemoveForm'}}
        <div class="text-center font-size-70 margin-top-0 margin-bottom-30"><i class="wb-warning yellow-800"></i></div>
        <p>
            Sürüden çıkartılan ineklerin verileri, canlı ineklerin bulunduğu bölümden silinip, çıkartılan inekler
            bölümünde, çıkartılma sebebleri ile birlikte tutulur. Bu durum <strong>Genel Süt Verimi</strong> raporu
            hariç bir çok böümde etkisini gösterir.
        </p>

        <p class="margin-bottom-30">
            <strong class="red-600">Not:</strong> <strong>Sürüden çıkarma işleminin geri dönüşü yoktur. Lütfen bu işlemi gerçekleştirmek istediğinizden emin olun.</strong>
        </p>

        {{> field name='reason'}}

        <button type="submit" class="btn btn-danger btn-block">Sürüden Çıkart</button>
    {{/form}}
</template>