<template name="cowsUpdateProfileReport">

    <div class="well" style="position: relative">
        <div class="ribbon ribbon-bookmark ribbon-success">
            <span class="ribbon-inner">Raporlar</span>
        </div>

        <div class="well-body">
            <table class="table definition-table">
                <tbody>
                <tr>
                    <td>Laktasyon Sayısı</td>
                    <td>
                        {{#if lactionCount}}
                            {{lactionCount}}
                        {{else}}
                            ...
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Düve Tohum Tarihi</td>
                    <td>
                        {{#if heiferInseminationDate}}
                            {{formattedDate heiferInseminationDate}}
                        {{else}}
                            ...
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>İlk Doğum Tarihi</td>
                    <td>
                        {{#if firstDeliveryDate}}
                            {{formattedDate firstDeliveryDate}}
                        {{else}}
                            ...
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>İlk Doğum Yaşı</td>
                    <td>
                        {{#if firstDeliveryAge}}
                            {{firstDeliveryAge}} Gün
                        {{else}}
                            ...
                        {{/if}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>