<template name="cowsUpdateProfileStatusUpdate">
    {{#form schema=schema doc=this id='cowsUpdateProfileStatusUpdateForm'}}
        {{> field name='status' options=statusOptions}}

        <button type="submit" class="btn btn-primary btn-block">Güncelle</button>
    {{/form}}
</template>