<template name="cowsUpdateInseminationAdd">
    {{#form schema=schema id='cowsUpdateInseminationAddForm'}}
        {{> field name='type' options=typeOtions firstOption=''}}
        {{> field name='identity' options=identityOptions}}
        {{> field name='date'}}
        {{> field name='appliedBy'}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Ekle</button>
    {{/form}}
</template>