<template name="cowsUpdateInseminationUpdate">
    {{#form schema=schema id='cowsUpdateInseminationUpdateForm' doc=doc}}
        {{> field name='type' options=typeOtions firstOption=''}}
        {{> field name='identity' options=identityOptions}}
        {{> field name='date'}}
        {{> field name='appliedBy'}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Güncelle</button>
    {{/form}}
</template>