<template name="bullsCreate">
    {{#form collection="Bulls" id="createBullsForm" type="insert"}}
        {{> field name='name'}}
        {{> field name='identity'}}
        {{> field name='motherIdentity'}}
        {{> field name='birthDate'}}
        {{> field name='acquisitionDate'}}
        {{> field name='midwife'}}
        {{> field name='firm'}}

        <button type="submit" class="btn btn-primary btn-block">Boğayı Ekle</button>
    {{/form}}
</template>