<template name="bullsUpdate">
    {{#form collection="Bulls" id="updateBullsForm" doc=this type="update"}}
        {{> field name='name'}}
        {{> field name='identity'}}
        {{> field name='motherIdentity'}}
        {{> field name='birthDate'}}
        {{> field name='acquisitionDate'}}
        {{> field name='midwife'}}
        {{> field name='firm'}}

        <button type="submit" class="btn btn-primary btn-block">Boğayı Güncelle</button>
    {{/form}}
</template>