<template name="cowsUpdateVaccinationsAdd">
    {{#form schema=schema id='cowsUpdateVaccinationsAddForm'}}
        {{> field name='name'}}
        {{> field name='type'}}
        {{> field name='date'}}
        {{> field name='appliedBy'}}
        {{> field name='not' rows=2}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Ekle</button>
    {{/form}}
</template>