<template name="cowsUpdateVaccinationsUpdate">
    {{#form schema=schema id='cowsUpdateVaccinationsUpdateForm' doc=doc}}
        {{> field name='name'}}
        {{> field name='type'}}
        {{> field name='date'}}
        {{> field name='appliedBy'}}
        {{> field name='not' rows=2}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Güncelle</button>
    {{/form}}
</template>