<template name="dashboardAnimalTotals">
    <div class="col-xlg-3 col-lg-3 col-md-6">
        <div class="widget">
            <div class="widget-content padding-30 bg-blue-600" style="height: 148px">
                <div class="widget-watermark darker font-size-60 margin-15"><i class="icon wb-pie-chart" aria-hidden="true"></i></div>
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">{{totalAnimal}}</span>
                        <span class="counter-number-related text-capitalize">Hayvan</span>
                    </div>
                    <div class="counter-label text-capitalize">{{cowsTotal}} İnek - {{bullsTotal}} Boğa</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xlg-3 col-lg-3 col-md-6">
        <div class="widget">
            <div class="widget-content padding-30 bg-green-600" style="height: 148px">
                <div class="widget-watermark darker font-size-60 margin-15"><i class="icon wb-dropup" aria-hidden="true"></i></div>
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">{{newBornCount}}</span>
                        <span class="counter-number-related text-capitalize">Doğum</span>
                    </div>
                    <div class="counter-label text-capitalize">{{currentYear}} yılında</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xlg-3 col-lg-3 col-md-6">
        <div class="widget">
            <div class="widget-content padding-30 bg-orange-600" style="height: 149px">
                <div class="widget-watermark darker font-size-60 margin-15"><i class="icon wb-dropright" aria-hidden="true"></i></div>
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">{{kurudaCount}}</span>
                        <span class="counter-number-related text-capitalize">Kuruda</span>
                    </div>
                    <div class="counter-label text-capitalize">{{currentYear}} yılında</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xlg-3 col-lg-3 col-md-6">
        <div class="widget">
            <div class="widget-content padding-30 bg-red-600" style="height: 149px">
                <div class="widget-watermark darker font-size-60 margin-15"><i class="icon wb-dropdown" aria-hidden="true"></i></div>
                <div class="counter counter-md counter-inverse text-left">
                    <div class="counter-number-group">
                        <span class="counter-number">{{totalDeadCount}}</span>
                        <span class="counter-number-related text-capitalize">Çıkartılan</span>
                    </div>
                    <div class="counter-label text-capitalize">{{currentYear}} yılında</div>
                </div>
            </div>
        </div>
    </div>
</template>