<template name="dashboardAnimals">

    <div class="widget widget-shadow" style="height: 490px" id="chartPie">
        <div class="widget-content padding-30 bg-white height-full container-fluid">
            <div class="font-size-20 text-center" style="height:calc(100% - 350px);">
                İnek Sayıları
            </div>
            <div class="ct-chart height-250"></div>
            <div class="row no-space margin-top-40">
                <div class="col-xs-4">
                    <div class="counter">
                        <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point purple-600"></span>
                      </span>
                            <span class="counter-number font-size-24">{{milkedCows}}</span>
                            <span class="counter-number-related font-size-14">{{milkedCowsPercentage}}%</span>
                        </div>
                        <div class="counter-label text-uppercase">Sağılan</div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="counter">
                        <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point red-600"></span>
                      </span>
                            <span class="counter-number font-size-24">{{youngCows}}</span>
                            <span class="counter-number-related font-size-14">{{youngCowsPercentage}}%</span>
                        </div>
                        <div class="counter-label text-uppercase">Genç</div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="counter text-center">
                        <div class="counter-number-group font-size-14">
                      <span class="counter-number-related">
                        <span class="icon wb-medium-point blue-600"></span>
                      </span>
                            <span class="counter-number font-size-24">{{pregnantCows}}</span>
                            <span class="counter-number-related font-size-14">{{pregnantCowsPercentage}}%</span>
                        </div>
                        <div class="counter-label text-uppercase">Gebe</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>