<template name="dashboardPage">
    <div class="page">
        <div class="page-content padding-30 container-fluid">
            <div class="row">
                {{> dashboardAnimalTotals stats}}
            </div>
            <div class="row">
                <div class="col-xlg-9 col-lg-9 col-md-9">
                    {{> dashboardMilking}}
                </div>

                <div class="col-xlg-3 col-lg-3 col-md-3">
                    {{> dashboardAnimals stats}}
                </div>
            </div>
        </div>
    </div>
</template>