<template name="dashboardMilking">
    <div class="widget widget-shadow" id="dashboardMilking">
        <div class="widget-content widget-radius padding-30 bg-white container-fluid">
            <div class="row height-100">
                <div class="col-xs-4">
                    <div class="counter counter-md text-left">
                        <div class="counter-label">GÜNLÜK BİRİM ORTALAMA</div>
                        <div class="counter-number-group">
                            <span class="counter-number red-600">{{daikyUnitAverage}}</span>
                            <span class="counter-number-related red-600">Lt</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="counter counter-sm text-left inline-block">
                        <div class="counter-label">GÜNLÜK ORTALAMA</div>
                        <div class="counter-number-group">
                            <span class="counter-number">{{dailyAverage}}</span>
                            <span class="counter-number-related">Lt</span>
                        </div>
                    </div>
                    <div class="stat-icon" style="position: absolute; right: 30px; top: -3px;">
                        <i class="wb-stats-bars green-500" style="font-size: 48px"></i>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="counter counter-sm text-left inline-block">
                        <div class="counter-label">AYLIK ORTALAMA</div>
                        <div class="counter-number-group">
                            <span class="counter-number">{{monthlyAverage}}</span>
                            <span class="counter-number-related">Lt</span>
                        </div>
                    </div>
                    <div class="stat-icon" style="position: absolute; right: 30px; top: -3px;">
                        <i class="wb-stats-bars blue-500" style="font-size: 48px"></i>
                    </div>
                </div>
            </div>
            <div id="milkingGraph" class="height-300 margin-top-30"></div>
        </div>
    </div>
</template>