<template name="cowsUpdateFertility">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Tohumlama Bilgileri</h3>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Laktasyon</th>
                <th>Toh. K. No</th>
                <th>Toh. Tarihi</th>
                <th>Sperm / Boğa</th>
                <th>Toh. Sayısı</th>
                <th>Toh. Şekli</th>
                <th>Uygulayan</th>
            </tr>
            </thead>
            <tbody>
            {{#each illnessesInfo}}
                <tr class="item">
                    <td>{{lactation}}</td>
                    <td>{{inseminationRegisterNo}}</td>
                    <td>{{inseminationDate}}</td>
                    <td>{{inseminationIdentity}}</td>
                    <td>{{inseminationCount}}</td>
                    <td>{{inseminationType}}</td>
                    <td>{{inseminationAppliedBy}}</td>
                </tr>
            {{else}}
            <tr>
                <td colspan="7">
                    <h2 class="blue-grey-500 text-center margin-top-20 margin-bottom-30">Veri bulunamadı!</h2>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Döl Verimi</h3>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Laktasyon</th>
                <th>1. Toh. - Toh. Aralığı</th>
                <th>İki Doğum Aralığı</th>
                <th>Gebelik için Toh. Say.</th>
                <th>Gebe Kalma Şekli</th>
                <th>Tohumlayan</th>
                <th>Verim</th>
            </tr>
            </thead>
            <tbody>
            {{#each fertilities}}
                <tr class="item">
                    <td>{{lactation}}</td>
                    <td>{{inseminationInterval}} Gün</td>
                    <td>
                        {{#if pregnancyDuration }}
                            {{pregnancyDuration}} Gün
                        {{else}}
                            ---
                        {{/if}}
                    </td>
                    <td>{{inseminationCount}}</td>
                    <td>{{inseminationType}}</td>
                    <td>{{inseminationAppliedBy}}</td>
                    <td>{{efficiency}}</td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="7">
                        <h2 class="blue-grey-500 text-center margin-top-20 margin-bottom-30">Veri bulunamadı!</h2>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>