<template name="cowsUpdateInfo">
    {{#form collection="Cows" doc=this id="updateCowsForm" type="update"}}
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h4 class="primary-800">Genel Bilgiler</h4>
                    <hr class="margin-top-0">

                    {{> field name='status' options=statusOptions}}
                    {{> field name='identity'}}
                    {{> field name='rfid'}}
                    {{> field name='name'}}
                    {{> field name='groupId' options=groups firstOption=''}}
                </div>

                <div class="well">
                    <h4 class="primary-800">Doğum Bilgileri</h4>
                    <hr class="margin-top-0">

                    {{> field name='birthPlace'}}
                    {{> field name='birthDate'}}
                    {{> field name='birthType' options='allowed' firstOption=''}}
                    {{> field name='birthWeight'}}
                    {{> field name='midwife'}}
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h4 class="primary-800">Detay Bilgiler</h4>
                    <hr class="margin-top-0">

                    {{> field name='motherIdentity'}}
                    {{> field name='motherName'}}
                    {{> field name='fatherIdentity'}}
                    {{> field name='fatherName'}}
                    {{> field name='joinReason' options='allowed' firstOption=''}}
                    {{> field name='joinDate'}}
                    {{> field name='note' rows=3}}
                </div>
            </div>
        </div>

        <div class="margin-top-25">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Bilgileri Güncelle</button>
        </div>
    {{/form}}
</template>