<template name="cowsUpdateInsemination">

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Tohumlama Girdileri</h3>

            <div class="panel-actions" style="margin-top: -5px; margin-right: -25px">
                <button type="button" class="btn btn-primary btn-xs btn-add"><i class="icon wb-plus"></i> Ekle</button>
                <button type="button" class="btn btn-warning btn-xs btn-update {{isDisabled}}"><i class="icon wb-pencil"></i> Düzenle</button>
                <button type="button" class="btn btn-danger btn-xs btn-delete {{isDisabled}}"><i class="icon wb-trash"></i> Sil</button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Kayıt No</th>
                <th>Tohumlama Şekli</th>
                <th>Kimlik</th>
                <th>Tarih</th>
                <th>Tohumlayan</th>
            </tr>
            </thead>
            <tbody>
            {{#each inseminationData}}
                <tr class="item">
                    <td style="width: 100px">{{registerNo}}</td>
                    {{#if checkType 'bull'}}
                        <td>Boğa</td>
                    {{else}}
                        <td>Sperm</td>
                    {{/if}}
                    <td>{{identity}}</td>
                    <td style="width: 100px">{{formattedDate date}}</td>
                    <td>{{appliedBy}}</td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5">
                        <h2 class="blue-grey-500 text-center margin-top-20 margin-bottom-30">Veri bulunamadı!</h2>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>