<template name="cowsUpdateLactationME">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Laktasyonlara Göre Süt Verimi</h3>
        </div>

        <div class="graph-panel panel-body padding-left-0 padding-right-0">
            {{> cowsUpdateLactationMEFilters}}

            <div class="row">
                <div class="col-lg-8">
                    {{> cowsUpdateLactationMEGraph}}
                </div>

                <div class="col-lg-4">
                    {{> cowsUpdateLactationMEDetails}}
                </div>
            </div>
        </div>
    </div>
</template>