<template name="cowsUpdateProfile">

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">İnek Profili</h3>

            <div class="panel-actions" style="margin-top: -5px; margin-right: -30px">
                <button type="button" class="btn btn-success btn-sm btn-update-status"><i class="icon wb-pencil"></i> Durumu Güncelle</button>
                <button type="button" class="btn btn-danger btn-sm btn-remove"><i class="icon wb-trash"></i> Sürüden Çıkar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                {{> cowsUpdateProfileMain}}

                {{> cowsUpdateProfileBirth}}
            </div>

            <div class="col-lg-6">
                {{> cowsUpdateProfileReport report}}

                {{> cowsUpdateProfileDetails}}
            </div>
        </div>

        {{> cowsUpdateProfileChildren report}}
    </div>
</template>