<template name="cowsUpdateStepAnalysis">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Adım Analizi (Kızgınlık)</h3>
        </div>

        <div class="graph-panel panel-body padding-left-0 padding-right-0">
            <div class="row">
                <div class="col-lg-12">
                    <div id="stepAnalysisGraph"></div>
                </div>
            </div>
        </div>
    </div>
</template>