<template name="cowsUpdateTimedME">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Zamansal Süt Verimi</h3>
        </div>

        <div class="graph-panel panel-body padding-left-0 padding-right-0">
            {{> cowsUpdateTimedMEFilters}}

            <div class="row">
                <div class="col-lg-8">
                    {{> cowsUpdateTimedMEGraph}}
                </div>

                <div class="col-lg-4">
                    {{> cowsUpdateTimedMEDetails}}
                </div>
            </div>
        </div>
    </div>
</template>