<template name="cowsUpdateVaccinations">

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-0 padding-top-0">Aşılama Girdileri</h3>

            <div class="panel-actions" style="margin-top: -5px; margin-right: -25px">
                <button type="button" class="btn btn-primary btn-xs btn-add"><i class="icon wb-plus"></i> Ekle</button>
                <button type="button" class="btn btn-warning btn-xs btn-update {{isDisabled}}"><i class="icon wb-pencil"></i> Düzenle</button>
                <button type="button" class="btn btn-danger btn-xs btn-delete {{isDisabled}}"><i class="icon wb-trash"></i> Sil</button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Kayıt No</th>
                <th>Tarih</th>
                <th>Ad</th>
                <th>Tür</th>
                <th>Uygulayan</th>
                <th>Not</th>
            </tr>
            </thead>
            <tbody>
            {{#each vaccinationsData}}
            <tr class="item">
                <td style="width: 100px">{{registerNo}}</td>
                <td style="width: 100px">{{formattedDate date}}</td>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{appliedBy}}</td>
                <td style="width: 40%">{{not}}</td>
            </tr>
            {{else}}
                <tr>
                    <td colspan="6">
                        <h2 class="blue-grey-500 text-center margin-top-20 margin-bottom-30">Veri bulunamadı!</h2>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>