<template name="panelFooter">

    <footer class="site-footer">
        <span class="site-footer-legal">© 2015 Sütkar - Tüm hakkları saklıdır</span>
        <div class="site-footer-right">
            Developed by <a href="http://kodpage.com" target="_blank">KODPAGE</a>
        </div>
    </footer>

</template>