<template name="panelNavbar">

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        {{> panelNavbarHeader}}

        <div class="navbar-container container-fluid">
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                {{> panelNavbarToolbar}}

                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    {{> panelNavbarNotifications}}

                    {{> panelNavbarUser}}
                </ul>
            </div>

            {{> panelNavbarSearch}}
        </div>
    </nav>

</template>