<template name="cowsUpdateIllnessesAdd">
    {{#form schema=schema id='cowsUpdateIllnessesAddForm'}}
        {{> field name='date'}}
        {{> field name='illness'}}
        {{> field name='application' rows=2}}
        {{> field name='result' rows=2}}
        {{> field name='note' rows=2}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Ekle</button>
    {{/form}}
</template>