<template name="cowsUpdateIllnessesUpdate">
    {{#form schema=schema id='cowsUpdateIllnessesUpdateForm' doc=doc}}
        {{> field name='date'}}
        {{> field name='illness'}}
        {{> field name='application' rows=2}}
        {{> field name='result' rows=2}}
        {{> field name='note' rows=2}}

        <button type="submit" class="btn btn-primary btn-block">Girdiyi Güncelle</button>
    {{/form}}
</template>