<template name="removedCowsPage">
    {{# content}}

        <div class="panel">
            <div class="panel-body">
                {{> tabular table=table}}
            </div>
        </div>

    {{/content}}
</template>