<template name="content">

    <div class="page">
        {{#if isShown}}
            <div class="page-header">
                <h1 class="page-title">{{pageTitle}}</h1>

                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'farming.dashboard'}}">Giriş</a></li>

                    {{# each breadcrumbs}}
                        {{# if isActive}}
                            <li class="active">{{title}}</li>
                        {{else}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/if}}
                    {{/each}}
                </ol>

                {{#if hasAction}}
                    <div class="page-header-actions">
                        {{#if hasAction 'create'}}
                            <button type="button" class="btn btn-icon btn-inverse btn-round btn-create" data-toggle="tooltip" data-original-title="Yeni">
                                <i class="icon wb-plus" aria-hidden="true"></i>
                            </button>
                        {{/if}}

                        {{#if hasAction 'update'}}
                            <button type="button" class="btn btn-icon btn-inverse btn-round btn-update disabled" data-toggle="tooltip" data-original-title="Gümcelle">
                                <i class="icon wb-pencil" aria-hidden="true"></i>
                            </button>
                        {{/if}}

                        {{#if hasAction 'delete'}}
                            <button type="button" class="btn btn-icon btn-inverse btn-round btn-delete disabled" data-toggle="tooltip" data-original-title="Sil">
                                <i class="icon wb-trash" aria-hidden="true"></i>
                            </button>
                        {{/if}}

                        {{#if hasAction 'save'}}
                            <button type="button" class="btn btn-icon btn-inverse btn-round btn-save" data-toggle="tooltip" data-original-title="Kaydet">
                                <i class="icon wb-check-mini" aria-hidden="true"></i>
                            </button>
                        {{/if}}

                        {{#if hasAction 'cancel'}}
                            <button type="button" class="btn btn-icon btn-inverse btn-round btn-cancel" data-toggle="tooltip" data-original-title="İptal">
                                <i class="icon wb-close" aria-hidden="true"></i>
                            </button>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/if}}

        <div class="page-content">
            {{> UI.contentBlock}}
        </div>
    </div>

</template>