<template name="panelNavbarNotifications">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="slide-bottom"
           role="button">
            <i class="icon wb-bell" aria-hidden="true"></i>
            {{#if newNotificationCount}}
                <span class="badge badge-danger up">{{newNotificationCount}}</span>
            {{/if}}
        </a>

        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <li class="dropdown-menu-header" role="presentation">
                <h5>YENİ DUYURULAR</h5>
                {{#if newNotificationCount}}
                    <span class="label label-round label-danger">{{newNotificationCount}} Yeni</span>
                {{/if}}
            </li>

            <li class="list-group" role="presentation">
                <div data-role="container">
                    <div data-role="content">
                        {{#each notifications}}
                            <a class="list-group-item" href="/system/notifications/{{_id}}" role="menuitem">
                                <div class="media">
                                    <div class="media-left padding-right-10">
                                        <i class="icon {{typeIcon}} white icon-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading">{{title}}</h6>
                                        <time class="media-meta">{{timeAgo}}</time>
                                    </div>
                                </div>
                            </a>
                        {{else}}
                            <div class="list-group-item text-center padding-top-10 padding-bottom-10">
                                <h5>Yeni duyuru mevcut değil.</h5>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </li>

            <li class="dropdown-menu-footer" role="presentation">
                <a href="{{pathFor 'system.notifications'}}" role="menuitem">
                    Bütün Duyurular
                </a>
            </li>
        </ul>
    </li>
</template>