<template name="panelNavbarUser">

    <li class="dropdown">
        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="slide-bottom" role="button">
            <span class="avatar avatar-online">
                <img src="/assets/images/avatar.png" alt="..."><i></i>
            </span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation">
                <a href="/system/users/{{userId}}/profile" id="userProfile" role="menuitem"><i class="icon wb-user"
                                                                aria-hidden="true"></i> Kullanıcı Profili</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" id="userLockScreen" role="menuitem"><i class="icon wb-eye-close"
                                                                aria-hidden="true"></i> Ekranı Kilitle</a>
            </li>
            <li class="divider" role="presentation"></li>
            <li role="presentation">
                <a href="javascript:void(0)" id="userLogOut" role="menuitem"><i class="icon wb-power"
                                                                aria-hidden="true"></i> Güvenli Çıkış</a>
            </li>
        </ul>
    </li>

</template>